{% include 'partials/modals/_create_course_modal.html' %}

<div class="col mb-4">
   <div class="card" style="height: 20rem">
      <div class="card-image">
         <i class="fas fa-plus-circle fa-fw fa-7x"></i>
      </div>
      <div class="card-body">
         <h5 class="card-title">Create a course</h5>
         <p class="card-text">Create a course, give the code to students and share the materials.</p>
      </div>
      <div class="card-footer">
         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create_course_modal"> Create </button>
      </div>
   </div>
</div>