<div class="modal fade" id="delete_course_modal" tabindex="-1" role="dialog" aria-labelledby="delete_course_modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete_course_modal">Delete a course</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% csrf_token %}
        <div class="modal-body">
          <span class="col-sm-3">Are you sure you want to remove this course?</span>
        </div>
        <div class="modal-footer">
          {% comment %} <form action="{% url 'delete_course' course.id %}" method="POST">
          {% csrf_token %}
            <input type="Submit" value = "Delete" class="btn btn-primary"></input>
            <input type="button" value = "Cancel" class="btn btn-secondary" data-bs-dismiss="modal"></input>
          </form> {% endcomment %}
          <p>in viitor &#8482;</p>
        </div>
    </div>
  </div>
</div>