{% extends 'base.html' %}
{% load static %}
{% block title %}| About{% endblock title %}
{% block content %}

<h1>About</h1>

<h2>Graduos project</h2>
<strong>Version 1.3.2</strong>

<h3>Graduos history</h2>
<p>It all started when a group of students noticed that their university platform crashed when needed the most.</p>
<p>So they came with the idea of creating a new learning platform. </p>
<p>After the name has changed from 'Juky' to 'Graduos', the team started to elaborate the platform.</p>
<p>More to come...</p>

<h2>Graduos team</h2>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
  <div class="row">
    <div class="col-md-12 pt-5 pb-2 ourTeam-hedding text-center">
      <h1>Our Team</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<strong> sed do eiusmod
      tempor incididunt </strong>ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="row section-success ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="/static/img/adela.jpg">
        </div>
        <div class="col-md-12 section2 pb-3">
          <p>Băldean Adela-Ștefania</p>
          <span>Front-end dev</span>
        </div>
        <div class="col-md-12 section3">
          <a href="https://www.facebook.com/profile.php?id=100008226915948"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="row section-success ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg">
        </div>
        <div class="col-md-12 section2 pb-3">
          <p>Blaj Sergiu-Emanuel</p>
          <span>Full-stack dev</span>
        </div>
        <div class="col-md-12 section3">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="row section-info ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg">
        </div>
        <div class="col-md-12 section2 pb-3">
          <p>Borbei Raul-Aurelian</p>
          <span>Front-end dev</span>
        </div>
        <div class="col-md-12 section3">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="row section-danger ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg">
        </div>
        <div class="col-md-12 section2 pb-3">
          <p>Cusco Ana-Maria</p>
          <span>Back-end dev</span>
        </div>
        <div class="col-md-12 section3">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-4">
   <div class="col mb-4">
      <div class="card text-center">
         <div class="card-image">
            <i class="fas fa-user fa-fw fa-7x"></i>
         </div>
         <div class="card-body">
            <h5 class="card-title">Băldean Adela-Ștefania</h5>
            <p>Front-end dev</p>
         </div>   
      </div>
   </div>
   <div class="col mb-4">
      <div class="card text-center">
         <div class="card-image">
            <i class="fas fa-user fa-fw fa-7x"></i>
         </div>
         <div class="card-body">
            <h5 class="card-title">Blaj Sergiu-Emanuel</h5>
            <p>Full-stack dev</p>
         </div>   
      </div>
   </div>
   <div class="col mb-4">
      <div class="card text-center">
         <div class="card-image">
            <i class="fas fa-user fa-fw fa-7x"></i>
         </div>
         <div class="card-body">
            <h5 class="card-title">Borbei Raul-Aurelian</h5>
            <p>Front-end dev</p>
         </div>   
      </div>
   </div>
   <div class="col mb-4">
      <div class="card text-center">
         <div class="card-image">
            <i class="fas fa-user fa-fw fa-7x"></i>
         </div>
         <div class="card-body">
            <h5 class="card-title">Cusco Ana-Maria</h5>
            <p>Back-end dev</p>
         </div>   
      </div>
   </div>
</div>

{% endblock %}
