{% extends 'base.html' %}
{% load static %}
{% block title %}| About{% endblock title %}
{% block content %}

<h1>About</h1>

<h2>Graduos project</h2>
<strong>version 1.1.5</strong>
<br>
<h2>Graduos team</h2>
<div class="row row-cols-1 row-cols-md-4">
   <div class="col mb-4">
      <div class="card" style="height: 20rem">
         <div class="card-image">
            <i class="fas fa-user fa-fw fa-7x"></i>
         </div>
         <div class="card-body">
            <h5 class="card-title">Băldean Adela-Ștefania</h5>
            <p>Front-end dev</p>
         </div>   
      </div>
   </div>
   <div class="col mb-4">
      <div class="card" style="height: 20rem">
         <div class="card-image">
            <i class="fas fa-user fa-fw fa-7x"></i>
         </div>
         <div class="card-body">
            <h5 class="card-title">Blaj Sergiu-Emanuel</h5>
            <p>Back-end dev</p>
         </div>   
      </div>
   </div>
   <div class="col mb-4">
      <div class="card" style="height: 20rem">
         <div class="card-image">
            <i class="fas fa-user fa-fw fa-7x"></i>
         </div>
         <div class="card-body">
            <h5 class="card-title">Borbei Raul Aurelian</h5>
            <p>Front-end dev</p>
         </div>   
      </div>
   </div>
   <div class="col mb-4">
      <div class="card" style="height: 20rem">
         <div class="card-image">
            <i class="fas fa-user fa-fw fa-7x"></i>
         </div>
         <div class="card-body">
            <h5 class="card-title">Cusco Anamaria</h5>
            <p>Back-end dev</p>
         </div>   
      </div>
   </div>
</div>

{% endblock %}
