{% extends 'base.html' %}
{% load static %}
{% block title %}| About{% endblock title %}
{% block content %}


<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <div class="row">
    <div class="col-md-12 pt-5 pb-2 ourTeam-hedding text-center">
      <h1>Graduos History</h1><br>
      <p>It all started when a group of students noticed that their university platform crashed when needed the most.
         <br>
         So they came with the idea of creating a new learning platform.
         <br>
         After the name has changed from 'Juky' to 'Graduos', the team started to elaborate the platform.
      <br><br>   
      <h1>Graduos Team</h1><br>
      <p>Everyone says it, but in our case it’s true: our team is the secret to our success. 
         Each of our member is amazing in their own right, <br> but together they are what makes 
         Graduos such a fun and rewarding place to work.  <br> <strong>The Graduos team</strong> is a 
         talented group with a shared vision of delivering consistently great results for the users of out platform.

         <br>We’re very proud of the team we’ve built – there’s just four of us now but it feels like we are a family.</p>
         
         <br>All team members are unique individuals who are united by a set of five core values that apply to everything we do.
         <br><br>
      </p>
         <strong>BE BOLD</strong>: be proactive, make decisions, take responsibility, try new things.
         <br><br>
         <strong>BE CURIOUS</strong>:  ask questions, do some research, learn new techniques, study our clients and their industries.
         <br><br>
         <strong>BE TOGETHER</strong>: play an active role in the team, support your colleagues, collaborate, have fun.
         <br><br>
         <strong>BE CONNECTED</strong>:  meet people, make contacts, build relationships, see the bigger picture.
         <br><br>
         <strong>BE BETTER</strong>: look for ways to improve, challenge yourself, never stop learning, strive to be the best.
         <br><br>
         <br>
      <p>
         Building, developing, training, retaining and engaging the Graduos team is a daily commitment. <br>We work hard every day to make sure that 
         the users of the platform have an exceptional experience.
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="row section-primary  ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="/static/img/adela.jpg">
        </div>
        <div class="col-md-12 section2 pb-3">
          <p>Băldean Adela-Ștefania</p>
          <span>Front-end dev</span>
        </div>
        <div class="col-md-12 section3">
          <a href="https://www.facebook.com/profile.php?id=100008226915948"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/adela-%C8%99tefania-b%C4%83ldean-095a631b9/"><i class="fa fa-linkedin-in" aria-hidden="true"></i></a>
          <a href="https://github.com/adela20stefi"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="row section-success ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="/static/img/sergiu.jpg">
        </div>
        <div class="col-md-12 section2 pb-3">
          <p>Blaj Sergiu-Emanuel</p>
          <span>Full-stack dev</span>
        </div>
        <div class="col-md-12 section3">
          <a href="https://www.facebook.com/sergiu.emanuel.754"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/sergiu-emanuel-blaj-b5b20b207/"><i class="fa fa-linkedin-in" aria-hidden="true"></i></a>
          <a href="https://github.com/sergiumr"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="row section-info ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="/static/img/raul.jpg">
        </div>
        <div class="col-md-12 section2 pb-3">
          <p>Borbei Raul-Aurelian</p>
          <span>Front-end dev</span>
        </div>
        <div class="col-md-12 section3">
          <a href="https://www.facebook.com/raul.borbei"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/raul-borbei-a49a0a220/"><i class="fa fa-linkedin-in" aria-hidden="true"></i></a>
          <a href="https://github.com/raaulb10"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="row section-danger ourTeam-box text-center">
        <div class="col-md-12 section1">
          <img src="/static/img/anamaria.jpg">
        </div>
        <div class="col-md-12 section2 pb-3">
          <p>Cusco Ana-Maria</p>
          <span>Back-end dev</span>
        </div>
        <div class="col-md-12 section3">
          <a href="https://www.facebook.com/anamaria.cusco"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/ana-maria-cusco-076907154/"><i class="fa fa-linkedin-in" aria-hidden="true"></i></a>
          <a href="https://github.com/anamaria-cusco"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="sectiontitle">
   <h2 style="color: #145889; font-size: 30px;;">Project statistics</h2>
   <span class="headerLine"></span>
</div>
<div id="projectFacts" class="sectionClass">
   <div class="fullWidth eight columns">
       <div class="projectFactsWrap ">
           <div class="item wow fadeInUpBig animated animated" data-number="13" style="visibility: visible;">
               <i class="fa fa-handshake"></i>
               <p id="number1" class="number">13</p>
               <span></span>
               <p>Team meetings</p>
           </div>
           <div class="item wow fadeInUpBig animated animated" data-number="65" style="visibility: visible;">
               <i class="fa fa-smile-o"></i>
               <p id="number2" class="number">65</p>
               <span></span>
               <p>Happy faces</p>
           </div>
           <div class="item wow fadeInUpBig animated animated" data-number="50405" style="visibility: visible;">
               <i class="fa fa-coffee"></i>
               <p id="number3" class="number">infinity</p>
               <span></span>
               <p>Cups of coffee</p>
           </div>
           <div class="item wow fadeInUpBig animated animated" data-number="305" style="visibility: visible;">
               <i class="fa fa-hourglass"></i>
               <p id="number4" class="number">305</p>
               <span></span>
               <p>Work hours</p>
           </div>
       </div>
   </div>
</div>

{% endblock %}
