{% extends 'base.html' %}
{% load static %}
{% block title %}| About{% endblock title %}
{% block content %}

<h1>About</h1>

<h2>Graduos project</h2>
<strong>Version 1.1.6</strong>

<h3>Graduos history</h2>
<p>It all started when a group of students noticed that their university platform crashed when needed the most.</p>
<p>So they came with the idea of creating a new learning platform. </p>
<p>After the name has changed from 'Juky' to 'Graduos', the team started to elaborate the platform.</p>
<p>More to come...</p>

<h2>Graduos team</h2>
<div class="row row-cols-1 row-cols-md-4">
   <div class="col mb-4">
      <div class="card text-center">
         <div class="card-image">
            <i class="fas fa-user fa-fw fa-7x"></i>
         </div>
         <div class="card-body">
            <h5 class="card-title">Băldean Adela-Ștefania</h5>
            <p>Front-end dev</p>
         </div>   
      </div>
   </div>
   <div class="col mb-4">
      <div class="card text-center">
         <div class="card-image">
            <i class="fas fa-user fa-fw fa-7x"></i>
         </div>
         <div class="card-body">
            <h5 class="card-title">Blaj Sergiu-Emanuel</h5>
            <p>Full-stack dev</p>
         </div>   
      </div>
   </div>
   <div class="col mb-4">
      <div class="card text-center">
         <div class="card-image">
            <i class="fas fa-user fa-fw fa-7x"></i>
         </div>
         <div class="card-body">
            <h5 class="card-title">Borbei Raul-Aurelian</h5>
            <p>Front-end dev</p>
         </div>   
      </div>
   </div>
   <div class="col mb-4">
      <div class="card text-center">
         <div class="card-image">
            <i class="fas fa-user fa-fw fa-7x"></i>
         </div>
         <div class="card-body">
            <h5 class="card-title">Cusco Ana-Maria</h5>
            <p>Back-end dev</p>
         </div>   
      </div>
   </div>
</div>

{% endblock %}
