<div class="modal fade" id="delete_file_modal" tabindex="-1" role="dialog" 
aria-labelledby="delete_file_modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete file</h5>
      </div>
      <div class="modal-body row">
        <div class="col-2">
          <i class="fa fa-exclamation-circle fa-3x align-middle"></i>
        </div>
        <div class="col-8">
          <span id="delete_file_name_span"></span>
        </div>
      </div>
      <div class="modal-footer">     
        <a href="javascript:{
          let course_id = document.getElementById('current_course_id').value;
          document.getElementById('delete_course_file_id').value = course_id;

          let file_id = document.getElementById('current_file_id').value;
          document.getElementById('delete_file_id').value = file_id;

          document.getElementById('delete_file').submit();
        }" class="btn btn-primary">Delete</a>
        <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>

        <form id="delete_file" action="{% url 'delete_file' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" id="delete_course_file_id" name="course_id">
          <input type="hidden" id="delete_file_id" name="file_id">
        </form>
      </div>
    </div>
  </div>
</div>
