{% load humanize %}

{% if course and assignment %}
	<td><a href={% url 'download_assignment' course.id assignment.assignment.id %}>{{assignment.assignment.name}}</a></td>

	<td>{{assignment.assignment.due_date}}</td>

	<td>{{assignment.assignment.percentage}}%</td>

	<td>
		{% if not assignment.submitted %}
			<form action="{% url 'add_submission' course.id assignment.assignment.id assignment.id %}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row">
				<div class="col-1">
					<label>File</label>
				</div>

				<div class="col-9">	
					<input type="file" name="submission_content" class="form-control" required>
				</div>
		
				<div class="col-1 text-end">
					<button type="submit" name="submit" value="submit" id="submit" class="btn btn-primary"><i class="fa fa-fw fa-plus-circle"></i></button>
				</div>
			</div>
			</form>
		{% elif assignment.grade == 0 %}
			<span class="text-muted fst-italic">Not graded yet.</span>
		{% else %}
			<span>Grade: {{assignment.grade}}/10.00 </span>
		{% endif %}
	</td>
{% endif %}