{% if request.user in professor_users %}
	<form action="{% url 'add_assignment' course.id %}" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
		<div class="card" style="padding: 5px">
			<div class="row">
				<div class="col mx-auto">
					<label>Name <span class="text-danger">*</span></label>
					<input type="text" name="assignment_name" class="form-control" placeholder="Assignment name" required>
				</div>

				<div class="col mx-auto">
					<label>File <span class="text-danger">*</span></label>
					<input type="file" name="assignment_content" class="form-control" required>
				</div>
			</div>

			<div class="row">
				<div class="col mx-auto">
					<label>Due <span class="text-danger">*</span></label>
					<input type="date" name="assignment_due" class="form-control" placeholder="Due date" id="assignment_due">
				</div>

				<div class="col mx-auto">
					<label>Percentage <span class="text-danger">*</span></label>
					<input type="number" name="assignment_percentage" class="form-control" placeholder="50" min="1" max="100" required>
				</div>

				<div class="col mx-auto text-end">
					<br>
					<button type="submit" name="submit" value="submit" id="submit" class="btn btn-primary"><i class="fa fa-fw fa-plus-circle"></i>Add Assignment</button>
				</div>
			</div>
		</div>
	</form>
{% endif %}