html, body {
    max-width: 100%;
    overflow-x: hidden;
 }

.card {
    margin-top: 1em;
    margin-bottom: 1em;    
}

.course-item-photo {
    width: 7em;
    height: 10em;
}

.sign-in-form {
    width: 50em;
}

.form-image {
    width: 30em;
    height: 30em;
}

 /*############## Mobile ############## */
 @media screen and (max-width: 680px){
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }
 
    ul.topnav li.dropdownIcon{
        display: block;
        float: right;
    }
 
    ul.topnav.responsive li.dropdownIcon{
        position: absolute;
        top: 0;
        right: 0;
    }
 
    ul.topnav.responsive{
        position: relative;
    }
 
    ul.topnav.responsive li{
        display: inline;
        float: none;
    }
 
    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }
 }