{% include 'partials/modals/_join_course_modal.html' %}

<div class="col mb-4">
   <div class="card text-center shadow p-3 mb-5 bg-white rounded" style="height: 20rem">
      <div class="card-img-top">
         <i class="fas fa-key fa-fw fa-7x"></i>
      </div>

      <div class="card-body">
         <h5 class="card-title">Join a course</h5>
         <p class="card-text">Join a course by entering the code given by teacher</p>
      </div>
      
      <div class="card-footer">   
         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#join_course_modal"> Join </button>
      </div>
   </div>
</div>