{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<title>Graduos {% block title %}{% endblock %}</title>
	</head>

	<body>
	{% include 'partials/_header.html' %}

	{% include 'partials/_navbar.html' %}

	{% block content %} {% endblock %}

	{% include 'partials/_footer.html' %}

	<script src="{% static 'js/main.js' %} "></script>
	</body>
</html>