{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}| Dashboard{% endblock title %} 
{% block content %}

<div class="dashboard">
   <h1 class="center">Dashboard</h1>
    <div class="container">
        <div class="cards-row">
            <div id="courses-slider" class="card-deck owl-carrousel">

            {% include 'partials/_create_course.html' %}
            {% include 'partials/_join_course.html' %}

               {% if is_student %}
                  <div class="card" style="width: 18rem;">
                     <div class="card-image">
                        <i class="fas fa-key fa-fw fa-7x"></i>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Join a course</h5>
                        <p class="card-text">Join a course by entering the code given by teacher</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#join_course_modal"> Join </button>
                     </div>
                  </div>

               {% else %}
                  <div class="card" style="width: 18rem;">
                     <div class="card-image">
                        <i class="fas fa-plus-circle fa-fw fa-7x"></i>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Create a course</h5>
                        <p class="card-text">Create a course, give the code to students and share the materials.</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#join_course_modal"> Create </button>

                     </div>
                  </div>
               {% endif %}

               {% for course in courses %}
                  <div class="card" style="width: 18rem;">
                  {% comment %} if else {% endcomment %}
                     <div class="card-image">
                        {% comment %} <i class="fas fa-plus-square fa-fw fa-7x"></i> {% endcomment %}
                        <img src = {{course.photo}} alt = {{course.name}} />
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">{{course.name}}</h5>
                        <p class="card-text">{{course.description}}</p>
                        <a href="#" class="btn">Visit page</a>
                     </div>
                  </div>
               {% endfor %}
            </div>
        </div>
    </div>
</div class="dashboard">

{% endblock %}
