{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}| Dashboard{% endblock title %} 
{% block content %}

<!--
   <div class="dashboard">
   <h1 class="center">Dashboard</h1>
   <h2>
      Logged in as {{user.first_name}} {{user.last_name}}. 
      <a href={% url 'profile' %}>View profile</a>
   </h2>
   
   {% include 'partials/alerts/_alerts.html' %}
      <div class="row row-cols-1 row-cols-md-3">
         
         {% if is_student %}
            {% include 'partials/courses/_join_course.html' %}
         {% else %}
            {% include 'partials/courses/_create_course.html' %}
         {% endif %}

         {% for course in courses %}
            {% include 'partials/courses/_course_item.html' %}
         {% endfor %}

         <input type="hidden" id="current_course_id" name="course_id" value="0">

      </div>
   </div class="dashboard">
-->
<div class="left_navbar">
   <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
         <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li class="active">
               <a href="#Home_id"><span class="fa-stack fa-lg pull-left"><i class="fas fa-home fa-stack-1x" aria-hidden="true"></i></span> Course Home</a>
            </li>
            <li>
               <a href="#Files_id"><span class="fa-stack fa-lg pull-left"><i class="fas fa-file fa-stack-1x" aria-hidden="true"></i></span>Files</a>
            </li>
            <li>
               <a href="#Assignments_id"><span class="fa-stack fa-lg pull-left"><i class="fas fa-bullhorn fa-stack-1x" aria-hidden="true"></i></span>Assignments</a>
            </li>
            <li>
               <a href="#Participants_id"> <span class="fa-stack fa-lg pull-left"><i class="fas fa-users fa-stack-1x" aria-hidden="true"></i></span>Participants</a>
            </li>
            <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fas fa-comments fa-stack-1x" aria-hidden="true"></i></span>Forum</a>
            </li>
            <li>
               <a href=""{% url 'dashboard' %}""><span class="fa-stack fa-lg pull-left"><i class="fas fa-sign-out fa-stack-1x" aria-hidden="true"></i></span>Leave</a>
            </li>
         </ul>
      </div>
      
      <!-- Page Content -->
      <div id="page-content-wrapper">
         <div class="container-fluid xyz">

            <div class="row">
               <div class="col-lg-24">
                     <div class="col-lg-8" id="course_home">
                        <a id="Home_id"><h3>Course home</h3></a>
                        <p>This is the course descriptions.. it's a long one</p>
                     </div>
                     <hr>
                     <br>
                     
                     <div class="col-lg-24" id="files">
                           <a id="Files_id"><h3>Files</h3></a>
                        <div class="row row-cols-1 row-cols-md-3" style="border:1px solid black">   
                           <div class="col col-lg-6">
                              <div class="card text-center">
                                 <div class="card-body">
                                    <h5 class="card-title">Cursul 5 Eneiea</h5>
                                 </div>   
                              </div>
                           </div>
                           <div class="col col-lg-2">
                              <div class="card text-center">
                                 <div class="card-body">
                                    <h5 class="card-title">15 kb</h5>
                                 </div>   
                              </div>
                           </div>
                           <div class="col col-lg-4">
                              <div class="card text-center">
                                 <div class="card-body">
                                    <h5 class="card-title">02.06.2021</h5>
                                 </div>   
                              </div>
                           </div>
                        </div>
                     </div>
                     <hr>
                     <br>

                     <div class="col-lg-24" id="assignments">
                        <a id="Assignments_id"><h3>Assignments</h3></a>
                        
                        <div class="row row-cols-1 row-cols-md-1">
                           <div class="col mb-8">
                              <div class="card text-center">
                                 <div class="card-body">
                                    <div><h5 class="card-title">Assignment 1</h5></div>
                                    <div><p>Do a text containing 5 caracters in word</p></div>
                                    <div class="row row-cols-1 row-cols-md-2">
                                       <div class="col col-lg-2"style="text-align:right;"><p>Post date:</p></div>
                                       <div class="col col-lg-16"style="text-align:left;"><p>12.03.2021</p></div>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-2">
                                       <div class="col col-lg-2" style="text-align:right;"><p>Due date:</p></div>
                                       <div class="col col-lg-16" style="text-align:left;"><p>12.03.2021</p></div>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-2">
                                       <div class="col col-lg-2"style="text-align:right;"><p>Grade:</p></div>
                                       <div class="col col-lg-16"style="text-align:left;"><p>10</p></div>
                                    </div>
                                 </div>   
                              </div>
                           </div>

                     </div>
                     <hr>
                     <br>

                     <div class="col-lg-24" id="participants">
                        <a id="Participants_id"><h3>Participants</h3></a>
                     <div class="row row-cols-1 row-cols-md-3" style="border:1px solid black">   
                        <div class="col col-lg-8">
                           <div class="card text-center">
                              <div class="card-body">
                                 <h5 class="card-title">Name</h5>
                              </div>   
                           </div>
                        </div>
                        <div class="col col-lg-2">
                           <div class="card text-center">
                              <div class="card-body">
                                 <h5 class="card-title">Joined</h5>
                              </div>   
                           </div>
                        </div>
                        <div class="col col-lg-2">
                           <div class="card text-center">
                              <div class="card-body">
                                 <h5 class="card-title">Last online</h5>
                              </div>   
                           </div>
                        </div>
                     </div>
                        <!--User-->
                     <div class="row row-cols-1 row-cols-md-3">
                        <div class="col col-lg-8">
                           <div class="card text-center">
                              <div class="card-body">
                                 <h5 class="card-title">Blaj Sergiu</h5>
                              </div>   
                           </div>
                        </div>
                        <div class="col col-lg-2">
                           <div class="card text-center">
                              <div class="card-body">
                                 <h5 class="card-title">12.03.2021</h5>
                              </div>   
                           </div>
                        </div>
                        <div class="col col-lg-2">
                           <div class="card text-center">
                              <div class="card-body">
                                 <h5 class="card-title">16.23.2021</h5>
                              </div>   
                           </div>
                        </div>
                     </div>
                        <!--end-->
                     <br>
                     <br>
                     <br>
                  </div>
                  <hr>
                  <br>

               </div>
            </div>
         </div>
      </div>
   </div>

</div>

{% endblock %}
