{% extends 'base.html' %}
{% load static %}
{% block title %} | Login{% endblock title %}
{% block content %}

<div class="card mx-auto" style="width: 50rem;">
  <div class="card-image">
    <img src = {% static 'img/college.png' %} alt="" class="borderImg">
  </div>

  <div class="card-body">
    <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
      <div class="form-group row justify-content-md-center">
        <i class="fas fa-user fa-2x col-sm-1"></i>
        <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-7">
          <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Username" required>
        </div>
      </div>
      <br>
       <div class="form-group row justify-content-md-center">
        <i class="fas fa-key fa-2x col-sm-1"></i>
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-7">
          <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>
        </div>
      </div>
      <br>
      <input class="btn btn" type="Submit" name="Login" class="form-control" value="Log in">
    </form>
  </div>
</div>

{% endblock %}