{% extends 'base.html' %}
{% block title %} | Register{% endblock title %}
{% block content %}

{% include 'partials/_alerts.html' %}
<form action="{% url 'register' %}" method="POST">
{% csrf_token %}
<table border="0" cellspacing="10" cellpadding="2" class="signup">
    <tr>
        <td>Username:   </td>
        <td><input name="username" type="text"></td>
    </tr>
    <tr>
        <td>Password:   </td>
        <td><input name="password" type="password"></td>
    </tr>
    <tr>
        <td>Confirm password:   </td>
        <td><input name="password2" type="password"></td>
    </tr>
    <tr>
        <td>Email:   </td>
        <td><input name="email" type="email"></td>
    </tr>
    <tr>
        <td>First name:   </td>
        <td><input name="first_name" type="text"></td>
    </tr>
    <tr>
        <td>Last name:   </td>
        <td><input name="last_name" type="text"></td>
    </tr>
    <tr>
        <td>Picture: </td>
        <td><input name="photo" type="file"></td>
    </tr>
    <tr>
        <td>Phone: </td>
        <td><input name="phone" type="tel"></td>
    </tr>
    <tr>
        <td>Country: </td>
        <td><input name="country" type="text"></td>
    </tr>
    <tr>
        <td>Adress: </td>
        <td><input name="address" type="text"></td>
    </tr>
    <tr>
        <td>Date of birth: </td>
        <td><input name="birth_date" type="date"></td>
    </tr>
    <tr>
        <td>Sex: </td>
        <td>
            <table>
                <tr>
                    <td>
                      <label>
                        <input name="sex" type="radio" value="f">
                        F
                      </label>
                    </td>
                    <td>
                      <label>
                        <input name="sex" type="radio" value="m">
                        M
                      </label>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>Student: </td>
        <td>
            <table>
                <tr>
                    <td>
                      <label>
                        <input name="is_student" type="radio" value="True">
                        Yes
                      </label>
                    </td>
                    <td>
                      <label>
                        <input name="is_student" type="radio" value="False">
                        No
                      </label>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>University: </td>
        <td><input name="university" type="text"></td>
    </tr>
    <tr>
        <td>Faculty: </td>
        <td><input name="faculty" type="text"></td>
    </tr>
    <tr>
        <td>Study level: </td>
        <td>
            <table>
                <tr>
                    <td>
                    <input name="study_level" type="radio" value="bachelor">
                    <label for="license">Bachelor</label>
                    </td>
                    <td>
                    <input name="study_level" type="radio" value="master">
                    <label for="master">Master</label>
                    </td>
                    <td>
                    <input name="study_level" type="radio"value="doctor">
                    <label for="doctor">Doctor</label>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
        <tr>
        <td>Year of study: </td>
        <td><input name="study_year" type="number" min="1" max="6"></td>
    </tr>
        <tr>
        <td>Identification number: </td>
        <td><input name="identification_no" type="text"></td>
    </tr>
    <tr>
        <td>Department: </td>
        <td><input name="department" type="text"></td>
    </tr>
    <tr>
        <td>Rank: </td>
        <td><input name="rank" type="text"></td>
    </tr>
    <tr>
        <td>Office address: </td>
        <td><input name="office_address" type="text"></td>
    </tr>
    <tr>
        <td>Website: </td>
        <td><input name="website" type="text"></td>
    </tr>
  </table>
  <input type="submit" class="submit" value="Register">
</form>
{% endblock %}