
{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}| Forum {% endblock title %}
{% block content %}

<h1>{{ course.name }} Disscussion Forum</h1> <p class="lead">This is the Q&A section. Here you can chat with your colleagues and teachers.</p>
    <hr class="my-4">
        {% if not posts %}
             <h2>No messages!<h2>
        {% else %}
            {% for post in posts %}

                <div class="position-relative">
						<div class="chat-messages p-4">
							<div class="chat-message-left pb-4">
								<div>
                                    
									<div class="text-muted small text-nowrap mt-2">{{post.timestamp}}</div>
								</div>

                                <div class="row mt-2" >
                                    <div class="col-md-1" class="media flex-wrap align-items-center"> <img src="{{post.image.url}}"
                                           class="d-block ui-w-4 rounded-circle" alt="" width="60" height="60" >
                                    </div>       
                                    <div class="col-md-11">       
                                           <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                            <div class="font-weight-bold mb-1"><b>{{post.author}}</b></div>
                                            {{post.post_content}}
                                            </div>
                                    </div>
                                </div>

								
							</div>
                	    </div>
                </div>
            {% endfor %}
         {% endif %}

<form action="{% url 'send_message' course.id %}" method="POST"> {% csrf_token %}
<div class="flex-grow-0 py-3 px-4 border-top">
    <div class="input-group">
        <input type="text" name="content" class="form-control" placeholder="Type your message" required>
        <button class="btn btn-primary">Send</button>
    </div>
</div>


{% endblock %}